@import '../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  dark-primary: #D32F2F
  primary: #F44336
  light-primary: #FFCDD2
  dark-text-color: #FFFFFF
  primary-text-color: #212121
  light-text-color: #757575
  accent-color : #FF5722
  divider-color:   #BDBDBD
  secondary: #9E9E9E
  info:#536DFE
  warning: $amber.darken-2
  error: $red.accent-4
  success: #388E3C
}

// { background: #D32F2F; }
// .default-primary-color 
// { background: #F44336; }
// .light-primary-color   
// { background: #FFCDD2; }
// .text-primary-color    
// { color: #FFFFFF; }
// .accent-color          
// { background: #FF5722; }
// .primary-text-color    
// { color: #212121; }
// .secondary-text-color  
// { color: #757575; }
// .divider-color         
// { border-color: #BDBDBD; }


@import '../../../node_modules/vuetify/src/stylus/settings/_variables'
@import '../node_modules/vuetify/src/stylus/main'


